.outerDiv {
    display: flex;
    flex-direction: column;
}
.innerRowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3%; /* Remove the quotes around the percentage value */
    flex-basis: 50%; /* Remove the quotes around the percentage value */
    justify-content: center;
}

label {
    margin: 2px; /* Remove the quotes around the pixel value */
}

input {
    width: 100%; /* Remove the quotes around the percentage value */
    margin: 2%; /* Remove the quotes around the percentage value */
    flex-basis: 70%; /* Remove the quotes around the percentage value */
}
