:root {
    --liner-font-color: #ffffff;
    --liner-background-color: #000000;
    --settings-font-color: black;
    --settings-background-color: #000000;

    --header-height: 5vh;
    --footer-height: 3vh;
    --content-height: calc(100vh - var(--header-height) - var(--footer-height));

    --settings-width: 20vw;
    --grid-layout-width: calc(100vw - var(--settings-width));

    color: #93B1A6;
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
form input {
    margin: 0 0 10px 0;
    border-radius: 5px;
}
form input:invalid {
    outline-color: red;
}
form input:valid {
    outline-color: green;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
legend {
    color: rgb(192, 192, 192);
}

.header {
    position: inline;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--liner-background-color);
    color: var(--liner-font-color);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: calc(var(--header-height) - 1vh);
    outline: 1px solid white;
}
.header-text {
    margin: 0.5vh;
    display: inline-block;
}
.footer {
    position: inline;
    width: 99vw;
    height: var(--footer-height);
    bottom: 0vh;
    background-color: var(--liner-background-color);
    color: var(--liner-font-color);
}

.algorithm-chooser-form {
    display: flex;
    flex-direction: column;
    margin: 2vh 0 3vh 0;
}
.algorithm-chooser-form
.algo-selector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

.simulate-wrapper {
    display: flex;
    justify-content: center;
}

.select-node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    justify-content: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.select-node-wrapper
button {
    width: 90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
    background-color: #f2ffe4;
}
.block-node-selector {
    margin-top: 3px;
    margin-bottom: 3px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: var(--content-height);
    background-color: #040D12;
}

.settings-bar-wrapper {
    display: flex;
    flex-direction: column;
    width: var(--settings-width);
    padding: 1vh;
    border: 1px solid #183D3D;
    border-radius: 10px;
    justify-content: flex-start;
    position: relative;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.settings-toggler-wrapper {
    position: absolute;
    left: 1vw;
    top: 1vh;
    font-size: 1vh;
}
.settings-toggler-wrapper:hover {
    outline: 1px solid white;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.material-symbols-outlined {
    user-select: none;
    justify-content: center;
    color: white;
}

@media (max-height: 500px) {
    .settings-toggler-wrapper {
        top: -5vh;
    }
}

@media (max-height: 400px) {
    .settings-toggler-wrapper {
        top: -6vh;
    }
}

.grid-layout-wrapper {
    display: grid;
    margin: 1vh 1vw;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1vh 1vw;
    background-color: rgb(39, 39, 39);
}

.grid-cell {
    background-color: #183D3D;
    border: 1px solid black;
}

.startingnode {
    background-color: rgb(43, 255, 110);
}

.endingnode {
    background-color: rgb(181, 37, 37);
}

.blockingnode {
    background-color: #000000;
}

.clear-wrapper {
    margin-top: auto;
    margin-left: 1vw;
}

.visited-node {
    opacity: 0.1; /* Start with a low opacity */
    background-color: wheat;
    transition: opacity 0.5s; /* Add a transition for a smooth effect */
}

.path-elem {
    background-color: white;
}


.footer-svg-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer-svg-wrapper img {
    max-height: 100%;
    width: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.footer-svg-wrapper img:hover {
    outline: 1px solid white;
    cursor: pointer;
}

.linkedin-img {
    background-color: white;
}

.non-interactable {
    pointer-events: none;
}